<html>
    <head></head>
    <body>
        <h1> 합 <%=@result1%></h1></br>
        <h1> 차 <%=@result2%></h1></br>
        <h1> 곱 <%=@result3%></h1></br>
        <h1> 나눗셈 <%=@result4%></h1></br>
    </body>
</html>